@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 64.3125rem;
  margin: 0 auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.car {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.car-image-container {
  padding: 1rem;
  min-height: 15.625rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.key-features {
  display: flex;
  gap: 0.5rem;
  bottom: 0;
}

.classification,
.key-features p {
  color: white;
  background-color: #3f3a50;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: fit-content;
  font-weight: 400;
}

.classification {
  font-weight: 400;
}

.key-features p {
  font-size: 0.75rem;
}

.transmission::first-letter {
    text-transform: uppercase;
}

.transmission {
    text-transform: lowercase;
}

.car-details-container {
  padding: 1rem;
  min-height: 7.125rem;
  gap:1rem;
  display:flex;
  flex-direction: column;
}

.derivative {
    color:#55595D;
    font-size:0.75rem;
}

.car-details-derivative {
    display:flex;
    flex-direction: column;
    gap:0.25rem;
}

.car-cost-container {
    display:flex;
    flex-direction:column;
    gap:0.25rem;
}

.car-cost {
    font-size:0.75rem;
}

.monthly-payment {
    font-weight:600;
}